div{
    form{
        width: 50%;
        margin: 1% 40%;

        .get {
            margin-left: 5%;
        }

        #btn{
            margin-top: 1%;
        }
    }

    .result1{
        display: flex;
        border: ridge 5px gray;
        width: 50%;
        margin: 1% auto;
        height: 30px;
        justify-items: center;
        align-items: center;
        text-align: center;
    }
}
