
header{
    background-color: black;
    h1{
        display: flex;
        color: white;
        justify-content: center;
        margin: 0%;
        height: 4pc;
        align-items: center;
    }
}

