
header{
    background-color: #529471;
    h1{
        display: flex;
        color: #E5F1E3;
        justify-content: center;
        margin-top: 0%;
        margin-bottom: 1%;
        height: 4pc;
        align-items: center;
    }
}

